.card-container {
    /* border: 1px solid black; */
    width: 400px;
}

.card-container p{
    margin-left: 20px;
}

.card-container img {
    width: 100px;
    border-radius: 50%;
}

.card-user, .card-data {
    background-color: #e1f4f3;
}

.card-user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    margin-bottom: 20px;
}

.card-data{
    /* border: 1px solid blue; */
}

.card-data span {
    color: gray;
}

