.card-container {
    /* border: 1px solid black; */
    width: 400px;
    
}

.card-container p{
    margin-left: 20px;
    
}

.card-container img {
    width: 100px;
    border-radius: 50%;
}

.card-user, .card-data {
    background-color: #7f3063;
    /* border: 5px solid #7f3063; */
    border-radius: 10px;
    color:rgb(189, 166, 183);
    padding: 10px;
    box-shadow: 0px 0px 28px #7f6b79;
}

.card-user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    margin-bottom: 20px;
}

.card-data{
    /* border: 1px solid blue; */
}

.card-data span {
    color: rgb(250, 245, 245);
}

