.search-header{
    /* border: 1px solid black; */

    background-color: #e1f4f3;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0px 10px 28px #75c6b8;

}

.search-header-consulta{
    /* border: 1px solid black; */
    color: #7f3063;
    font-size: 30px;
   
}

.search-header-consulta input{
    width: 400px;
    border: 2px solid #7f6b79;
    box-shadow: 0px 0px 28px #7f3063;
    border-radius: 20px;
}
