.searchForm {
    /* border: 1px solid black; */
}

.searchForm input {
    width: 300px;
    border: 1px solid gray;
    margin: 20px 0 40px;
    text-align: center;
    padding: 10px;
}

.searchForm label {
    font-size: 20px;
}

.searchForm button {
    margin-top: 40px;
}

.searchForm button:hover {
    background-color: #a9a5a5;
}

