/* colors */
/* #7f3063 */
/* #7f6b79 */
/* #75c6b8 */
/* #e1f4f3 */

@font-face {
  font-family: 'rounded';
  src: url(./fonts/arlrdbd.ttf);
}

* {
  box-sizing: border-box;
  font-family: 'rounded';
}

body {
  margin: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.prm-button {
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  background-color: #cccccc;
  font-size: 18px;
}

input, select {
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

button {
  cursor: pointer;
  outline: none;
}

.blue-container {
  width: 1000px;
  height: 800px;
  background-color: #00065c;
  margin: auto;
  position: relative;
}